.body {
  font-family: 'Roboto';
}

ul {
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;;
}
p, div {
    font-family: 'Roboto', sans-serif;;
}


.searchbarwide {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 100px;
  padding-bottom: 200px;
}
